header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 2em;
}

h1 {
    font-size: 2em;
    background-color: blanchedalmond;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}
